<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>gjb</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>mOXPRVSYdtKYGHTMIVvu8mTMePy0t+RpN2jXjNyexEmMT4TNXfzS427rbmWoMKMF</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.22">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.15">
      <emailAddress>gjb@FreeBSD.org</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.ircbot.IrcUserProperty plugin="ircbot@2.26"/>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>ROLE_DONATIONS</string>
        <string>authenticated</string>
        <string>ROLE_GJB</string>
        <string>donations</string>
        <string>wwwadm</string>
        <string>sec-officer</string>
        <string>doceng</string>
        <string>foundvcs</string>
        <string>ROLE_FOUNDWEB</string>
        <string>releng</string>
        <string>ROLE_DOCENG</string>
        <string>ROLE_RELENG</string>
        <string>ROLE_FOUNDVCS</string>
        <string>ROLE_WWWADM</string>
        <string>foundweb</string>
        <string>gjb</string>
        <string>ROLE_SEC-OFFICER</string>
      </roles>
      <timestamp>1429756301597</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>