<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>jmmv</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>QF6QO/G+gLBre5d6IsvsrMA3BthxKd0G8WdDMxXxWrKMT4TNXfzS427rbmWoMKMF</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.10">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.10"/>
    <hudson.plugins.ircbot.IrcUserProperty plugin="ircbot@2.25"/>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>ROLE_KYUA</string>
        <string>ROLE_JMMV</string>
        <string>kyua</string>
        <string>authenticated</string>
        <string>jmmv</string>
      </roles>
      <timestamp>1411740663361</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>