<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>200</numToKeep>
    <artifactDaysToKeep>3</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>MAKE_CONF_FILE</name>
          <description></description>
          <defaultValue>NO_WERROR=yes
WERROR=
WITHOUT_BOOT=yes
</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_ARCH</name>
          <description></description>
          <defaultValue>amd64</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.5">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>svn://svn.freebsd.org/base/head</remote>
        <credentialsId></credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <browser class="hudson.scm.browsers.ViewSVN">
      <url>http://svnweb.freebsd.org/base/</url>
    </browser>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <assignedNode>jenkins10a.freebsd.org</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/builds/$JOB_NAME</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>(
cat &lt;&lt;EOF
Index: sys/crypto/aesni/aesencdec.h
===================================================================
--- sys/crypto/aesni/aesencdec.h	(revision 280912)
+++ sys/crypto/aesni/aesencdec.h	(working copy)
@@ -27,6 +27,11 @@
  *
  */
 
+#ifdef _KERNEL
+/* Suppress inclusion of gcc\&apos;s mm_malloc.h header */
+#define _MM_MALLOC_H_INCLUDED 1
+#endif
+
 #include &lt;wmmintrin.h&gt;
 
 static inline void
Index: sys/crypto/aesni/aesni_ghash.c
===================================================================
--- sys/crypto/aesni/aesni_ghash.c	(revision 280912)
+++ sys/crypto/aesni/aesni_ghash.c	(working copy)
@@ -71,6 +71,11 @@
 #include &lt;stdint.h&gt;
 #endif
 
+#ifdef _KERNEL
+/* Suppress inclusion of gcc\&apos;s mm_malloc.h header */
+#define _MM_MALLOC_H_INCLUDED 1
+#endif
+
 #include &lt;wmmintrin.h&gt;
 #include &lt;emmintrin.h&gt;
 #include &lt;smmintrin.h&gt;
Index: sys/crypto/aesni/aesni_wrap.c
===================================================================
--- sys/crypto/aesni/aesni_wrap.c	(revision 280912)
+++ sys/crypto/aesni/aesni_wrap.c	(working copy)
@@ -45,6 +45,11 @@
 #include &lt;opencrypto/gmac.h&gt;
 
 #include &quot;aesencdec.h&quot;
+#ifdef _KERNEL
+/* Suppress inclusion of gcc\&apos;s mm_malloc.h header */
+#define _MM_MALLOC_H_INCLUDED 1
+#endif
+
 #include &lt;smmintrin.h&gt;
 
 MALLOC_DECLARE(M_AESNI);
 
EOF
) &gt; ${WORKSPACE}/patch1.txt

(
cat &lt;&lt;EOF
Index: Makefile.inc1
===================================================================
--- Makefile.inc1       (revision 280979)
+++ Makefile.inc1       (working copy)
@@ -1462,10 +1462,14 @@
 _btxld=                usr.sbin/btxld
 .endif
 .endif
-.if ${TARGET_ARCH} != ${MACHINE_ARCH}
+
+.if ${BOOTSTRAPPING} &lt; 1001507
 .if ${MK_RESCUE} != &quot;no&quot; || defined(RELEASEDIR)
 _crunchide=    usr.sbin/crunch/crunchide
 .endif
+.endif
+
+.if ${TARGET_ARCH} != ${MACHINE_ARCH}
 .if ${TARGET_ARCH} == &quot;i386&quot; &amp;&amp; defined(RELEASEDIR)
 _kgzip=                usr.sbin/kgzip
 .endif
EOF
) &gt; ${WORKSPACE}/patch2.txt

svn revert -R sys/crypto/aesni
svn revert Makefile.inc1
patch -f &lt; ${WORKSPACE}/patch1.txt
patch -f &lt; ${WORKSPACE}/patch2.txt

/vm/freebsd-ci/scripts/build/cross-build.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.15">
      <recipients>rodrigc@FreeBSD.org</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.ircbot.IrcPublisher plugin="ircbot@2.26">
      <targets>
        <hudson.plugins.im.GroupChatIMMessageTarget plugin="instant-messaging@1.34">
          <name>#freebsd-commits</name>
          <notificationOnly>true</notificationOnly>
        </hudson.plugins.im.GroupChatIMMessageTarget>
      </targets>
      <strategy>ALL</strategy>
      <notifyOnBuildStart>true</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.SummaryOnlyBuildToChatNotifier" plugin="instant-messaging@1.34"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
  </publishers>
  <buildWrappers/>
</project>