<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>200</numToKeep>
    <artifactDaysToKeep>3</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>MAKE_CONF_FILE</name>
          <description></description>
          <defaultValue>NO_WERROR=yes
CXXFLAGS+= -D_LIBCPP_HAS_NO_ADVANCED_SFINAE
</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_ARCH</name>
          <description></description>
          <defaultValue>amd64</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@1.54">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>svn://svn.freebsd.org/base/head</remote>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <browser class="hudson.scm.browsers.ViewSVN">
      <url>http://svnweb.freebsd.org/base/</url>
    </browser>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <assignedNode>jenkins10a.freebsd.org</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/builds/$JOB_NAME</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>svn revert -R

(
cat &lt;&lt;EOF
Index: contrib/llvm/tools/lldb/source/Core/Mangled.cpp
===================================================================
--- contrib/llvm/tools/lldb/source/Core/Mangled.cpp     (revision 280762)
+++ contrib/llvm/tools/lldb/source/Core/Mangled.cpp     (working copy)
@@ -4886,7 +4886,7 @@

 struct Db
 {
-    typedef String String;
+    typedef ::String String;
     typedef Vector&lt;string_pair&gt; sub_type;
     typedef Vector&lt;sub_type&gt; template_param_type;
     Vector&lt;string_pair&gt; names;

EOF
) &gt; patch1.txt

(
cat &lt;&lt;EOF
Index: contrib/libc++/include/type_traits
===================================================================
--- contrib/libc++/include/type_traits	(revision 280762)
+++ contrib/libc++/include/type_traits	(working copy)
@@ -842,7 +842,16 @@
 
 namespace __is_convertible_imp
 {
-template &lt;class _Tp&gt; char  __test(_Tp);
+template &lt;class _Tp&gt; void  __test_convert(_Tp);
+
+template &lt;class _From, class _To, class = void&gt;
+struct __is_convertible_test : public false_type {};
+
+template &lt;class _From, class _To&gt;
+struct __is_convertible_test&lt;_From, _To,
+    decltype(__test_convert&lt;_To&gt;(_VSTD::declval&lt;_From&gt;()))&gt; : public true_type
+{};
+
 template &lt;class _Tp&gt; __two __test(...);
 #ifndef _LIBCPP_HAS_NO_RVALUE_REFERENCES
 template &lt;class _Tp&gt; _Tp&amp;&amp; __source();
@@ -877,10 +886,8 @@
     unsigned _T2_is_array_function_or_void = __is_convertible_imp::__is_array_function_or_void&lt;_T2&gt;::value&gt;
 struct __is_convertible
     : public integral_constant&lt;bool,
-#ifndef _LIBCPP_HAS_NO_RVALUE_REFERENCES
-        sizeof(__is_convertible_imp::__test&lt;_T2&gt;(__is_convertible_imp::__source&lt;_T1&gt;())) == 1
-#else
-        sizeof(__is_convertible_imp::__test&lt;_T2&gt;(__is_convertible_imp::__source&lt;_T1&gt;())) == 1
+        __is_convertible_imp::__is_convertible_test&lt;_T1, _T2&gt;::value
+#if defined(_LIBCPP_HAS_NO_RVALUE_REFERENCES)
          &amp;&amp; !(!is_function&lt;_T1&gt;::value &amp;&amp; !is_reference&lt;_T1&gt;::value &amp;&amp; is_reference&lt;_T2&gt;::value
               &amp;&amp; (!is_const&lt;typename remove_reference&lt;_T2&gt;::type&gt;::value
                   || is_volatile&lt;typename remove_reference&lt;_T2&gt;::type&gt;::value)

EOF
) &gt; /tmp/patch2.txt

#/vm/freebsd-ci/scripts/build/cross-build.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.11">
      <recipients>rodrigc@FreeBSD.org</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.ircbot.IrcPublisher plugin="ircbot@2.25">
      <targets>
        <hudson.plugins.im.GroupChatIMMessageTarget plugin="instant-messaging@1.30">
          <name>#freebsd-commits</name>
          <notificationOnly>true</notificationOnly>
        </hudson.plugins.im.GroupChatIMMessageTarget>
      </targets>
      <strategy>ALL</strategy>
      <notifyOnBuildStart>true</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.SummaryOnlyBuildToChatNotifier" plugin="instant-messaging@1.30"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
  </publishers>
  <buildWrappers/>
</project>