<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>200</numToKeep>
    <artifactDaysToKeep>3</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>MAKE_CONF_FILE</name>
          <description></description>
          <defaultValue>NO_WERROR=yes
CXXFLAGS+= -D_LIBCPP_HAS_NO_ADVANCED_SFINAE
</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_ARCH</name>
          <description></description>
          <defaultValue>amd64</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.5">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>svn://svn.freebsd.org/base/head</remote>
        <credentialsId></credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <browser class="hudson.scm.browsers.ViewSVN">
      <url>http://svnweb.freebsd.org/base/</url>
    </browser>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <assignedNode>jenkins10a.freebsd.org</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/builds/$JOB_NAME</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>svn revert lib/libnv/tests/dnv_tests.cc
svn up lib/libnv/tests/dnv_tests.cc

ls -l lib/libnv/tests/dnv_tests.cc
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#/vm/freebsd-ci/scripts/build/cross-build.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.11">
      <recipients>rodrigc@FreeBSD.org</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.ircbot.IrcPublisher plugin="ircbot@2.25">
      <targets>
        <hudson.plugins.im.GroupChatIMMessageTarget plugin="instant-messaging@1.30">
          <name>#freebsd-commits</name>
          <notificationOnly>true</notificationOnly>
        </hudson.plugins.im.GroupChatIMMessageTarget>
      </targets>
      <strategy>ALL</strategy>
      <notifyOnBuildStart>true</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.SummaryOnlyBuildToChatNotifier" plugin="instant-messaging@1.30"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
  </publishers>
  <buildWrappers/>
</project>