<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.plugins.flow.BuildFlow plugin="build-flow-plugin@0.12">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>FreeBSD_stable_10</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
  <icon/>
  <dsl>b1 = build(&quot;Build-UFS-image&quot;, BUILD_ROOT: &quot;/builds/FreeBSD_stable_10&quot;, PKG_ARCHITECTURE: &quot;freebsd:10:x86:64&quot;, CONFIG_FILE: &quot;/vm/freebsd-ci/scripts/test/config/config-stable-10.json&quot;, EMAILS: &quot;freebsd-stable@freebsd.org&quot;)
b2 = build(&quot;FreeBSD_stable_10-tests&quot;, EMAILS: &quot;freebsd-stable@freebsd.org&quot;)

</dsl>
  <buildNeedsWorkspace>false</buildNeedsWorkspace>
</com.cloudbees.plugins.flow.BuildFlow>