<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.5">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>svn://svnmir.freebsd.org/base/head</remote>
        <credentialsId></credentialsId>
        <local>src</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <browser class="hudson.scm.browsers.ViewSVN">
      <url>http://svnweb.freebsd.org/base/</url>
    </browser>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <assignedNode>jailer</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export jname=${JOB_NAME}

echo &quot;setup jail ${jname}&quot;

fetch ftp://ftp.freebsd.org:/pub/FreeBSD/releases/amd64/10.1-RELEASE/base.txz
fetch ftp://ftp.freebsd.org:/pub/FreeBSD/releases/amd64/10.1-RELEASE/lib32.txz

mkdir ${jname}

cd ${jname}
tar Jxf ../base.txz
tar Jxf ../lib32.txz
cd -

sudo mount -t devfs devfs ${jname}/dev
sudo devfs -m ${jname}/dev rule -s 4 applyset

sudo mount -t nullfs src ${jname}/usr/src

sudo jail -c persist name=&quot;${jname}&quot; path=&quot;${jname}&quot; host.hostname=&quot;${jname}.jail.ci.FreeBSD.org&quot; ip6=disable ip4=disable allow.chflags</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export jname=${JOB_NAME}

echo &quot;start build i ${jname}&quot;

sudo jexec ${jname} sh -c &quot;cd /usr/src &amp;&amp; make -j 4 buildworld&quot;
sudo jexec ${jname} sh -c &quot;cd /usr/src &amp;&amp; make -j 4 buildkernel&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@0.17">
      <buildSteps>
        <hudson.tasks.Shell>
          <command>export jname=${JOB_NAME}

echo &quot;clean up jail ${jname}&quot;

sudo jail -r ${jname}
sudo umount ${jname}/usr/src
sudo umount ${jname}/dev
sudo rm -fr ${jname}
#sudo chflags -R noschg ${jname}
#sudo rm -fr ${jname}</command>
        </hudson.tasks.Shell>
      </buildSteps>
      <scriptOnlyIfSuccess>false</scriptOnlyIfSuccess>
      <scriptOnlyIfFailure>false</scriptOnlyIfFailure>
      <markBuildUnstable>false</markBuildUnstable>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
  </publishers>
  <buildWrappers/>
</project>